# These owners will be the default owners for everything in the repo. Unless a later match takes precedence, @global-owner1 and @global-owner2 will be requested for review when someone opens a pull request.
*       @scorreard @bebatut @paulzierep

# Any change inside each community directory will require approval from the assigned person
/communities/biodiversity/ @scorreard
/communities/earth/ @Marie59
/communities/imaging/ @nagoue
/communities/micrgalaxy/ @bebatut


#Need to identify assigned person : 
#/communities/assembly/ 
#/communities/genome/
#/communities/genome/
#/communities/machine-learning/
#/communities/metabolics/
#/communities/spoc/
