{% load markdown %}

<!-- <section class="my-5">
  {% if help_links %}
  <h4 class="mb-3">{{ lab_name }} community support</h4>
  <ul>
    {% for link in help_links %}
    <li>
      <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</section> 

<section>
  <h4 class="mb-3">News and Events</h4>

  <div class="row justify-content-center">
    <div class="col">
      <iframe width="400px" height="600px" src="https://training.galaxyproject.org/training-material/topics/microbiome/feed.w.xml"></iframe>
    </div>
    <div class="col">
      <iframe width="400px" height="600px" src="https://training.galaxyproject.org/training-material/feeds/microbiome-month.w.xml"></iframe>
    </div>
  </div>
</section> -->

<section class="my-5">
  <h4 class="mb-3">Cite Us</h4>
</section>

<section class="my-5">
    If you find the {{ lab_name }} and the effort of the {{ lab_name }} community useful for your research, please cite us using this webpage.
<!-- If you find the {{ lab_name }} Lab and the effort of the {{ lab_name }} community useful for your research, please cite us using our <a href="https://www.biorxiv.org/content/10.1101/2024.12.23.629682v1" target="_blank" rel="noopener noreferrer">preprint</a>-->
</section>

<h4>Credits</h4>
<center><img src="./static/partenaire.png" height="225px" alt="Credits"/></center>

<br><br>
<center>
  <img src="./static/baniere.png"
       alt="Galaxy for earth system sciences"
       style="max-width: 100%; height: auto;">
</center>

<section id="conclusionExtra">
  {{ conclusion_extra_md|safe }}
</section>
