<footer>
  <style>
    footer {
      background-color: #f8f8f8;
      margin: 0 -32px -16px -32px;
      padding-bottom: .5rem;
    }
    footer > div {
      font-family: arial, helvetica, sans-serif;
      font-size: 75%;
      color: #777;
      max-width: 1000px;
      margin: auto;
      line-height: 1.4;
      padding: .5rem;
    }
    p {
      margin-bottom: .25rem;
    }
  </style>

  <div class="navbar-light text-center">
    <p class="mb-3">
      UseGalaxy.eu is maintained largely by the
      <a href="https://usegalaxy-eu.github.io/freiburg/">
        Freiburg Galaxy Team
      </a>
      but also collectively by groups and individuals from across Europe. All of the member sites in this repository contribute to the European Galaxy Project. For
      <b>acknowledgement</b>,
      please refer to the
      <a href="https://usegalaxy-eu.github.io/about">
        About
      </a>
      section.
      All content on this site is available under
      <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">
        CC0-1.0
      </a>
      unless otherwise specified.
    </p>
  
    <p>
      <span>
        <i class="fab fa-github"></i>
        <a href="https://github.com/galaxyproject/galaxy_codex/tree/main/communities/microgalaxy">Edit this page on GitHub</a>
      </span>&nbsp;
      <span>
        <i class="fa fa-envelope"></i>
        <a href="mailto:contact@usegalaxy.eu">contact@usegalaxy.eu</a>
      </span>&nbsp;
      <span>
        <i class="fab fa-github"></i>
        <a href="https://github.com/usegalaxy-eu">
          usegalaxy-eu
        </a>
      </span>&nbsp;
      <span>
        <a href="https://xn--baw-joa.social/@galaxyfreiburg">
          <i class="fab fa-mastodon" style="color: #777"></i>
          <span style="font-size: 0.9em">@</span>galaxyfreiburg
        </a>
      </span>&nbsp;
      <span>
        <i class="fa fa-rss"></i>
        Subscribe
        <a href="https://usegalaxy-eu.github.io/feed.xml">via RSS (UseGalaxy.eu Feed)</a>
      </span>&nbsp;
    </p>
  </div>
</footer>
