<footer>
  <div class="container logo">
    <div class="text-center">
      <a href="https://www.biocommons.org.au" target="_blank">
        <img src="https://raw.githubusercontent.com/usegalaxy-au/galaxy-media-site/dev/webapp/home/static/logos/footer/au-biocommons.png" target="_blank">
      </a>

      <a href="https://www.qcif.edu.au" target="_blank">
        <img src="https://raw.githubusercontent.com/usegalaxy-au/galaxy-media-site/dev/webapp/home/static/logos/footer/qcif.png" target="_blank">
      </a>

      <a href="https://www.melbournebioinformatics.org.au" target="_blank">
        <img src="https://raw.githubusercontent.com/usegalaxy-au/galaxy-media-site/dev/webapp/home/static/logos/footer/unimelb-2.svg" target="_blank">
      </a>

      <a href="https://www.aarnet.edu.au" target="_blank">
        <img src="https://raw.githubusercontent.com/usegalaxy-au/galaxy-media-site/dev/webapp/home/static/logos/footer/aarnet.png" target="_blank">
      </a>
    </div>

    <div class="text-center second">
      <a href="https://www.uq.edu.au" target="_blank">
        <img src="https://raw.githubusercontent.com/usegalaxy-au/galaxy-media-site/dev/webapp/home/static/logos/footer/uq-grayscale.png" target="_blank">
      </a>

      <a href="https://ardc.edu.au" target="_blank">
        <img src="https://raw.githubusercontent.com/usegalaxy-au/galaxy-media-site/dev/webapp/home/static/logos/footer/ardc-grayscale.png" target="_blank">
      </a>

      <a href="https://bioplatforms.com" target="_blank">
        <img src="https://raw.githubusercontent.com/usegalaxy-au/galaxy-media-site/dev/webapp/home/static/logos/footer/bpa-grayscale.png" target="_blank">
      </a>

      <a href="https://nci.org.au" target="_blank">
        <img src="https://raw.githubusercontent.com/usegalaxy-au/galaxy-media-site/dev/webapp/home/static/logos/footer/nci-grayscale.png" target="_blank">
      </a>

      <a href="https://pawsey.org.au" target="_blank">
        <img src="https://raw.githubusercontent.com/usegalaxy-au/galaxy-media-site/dev/webapp/home/static/logos/footer/pawsey-grayscale.png" target="_blank">
      </a>

      <a href="https://www.dese.gov.au/ncris" target="_blank">
        <img src="https://raw.githubusercontent.com/usegalaxy-au/galaxy-media-site/dev/webapp/home/static/logos/footer/ncris-grayscale.png" target="_blank">
      </a>

      <a href="https://www.qld.gov.au" target="_blank">
        <img src="https://raw.githubusercontent.com/usegalaxy-au/galaxy-media-site/dev/webapp/home/static/logos/footer/qld-gov.png" target="_blank">
      </a>
    </div>
  </div>


  <div class="container links">
    <hr>
    <div class="row" id="footer-links-row">
      <div class="col" id="footer-galaxy-logo">
        <a href="/">
          <img
          src="https://raw.githubusercontent.com/usegalaxy-au/galaxy-media-site/dev/webapp/home/static/logos/footer/galaxy-black.svg"
          alt="Galaxy logo black"
          >
        </a>
      </div>

      <div class="col-6">
        <h6>SITE LINKS</h6>
        <div class="row" id="footer-site-links">
          <div class="col-md-6">
            <small>
              <a href="/request">Support</a> <br>
              <a href="/about#acknowledgement-statement">Acknowledging Galaxy Australia</a> <br>
              <a href="/about#feature-catalogue">Feature catalogue</a> <br>
              <a href="/about#terms-of-service">Terms and conditions</a>
            </small>
          </div>

          <div class="col-md-6">
            <small>
              <a href="/about#data-privacy">Privacy and data collection</a> <br>
              <a href="/about#acceptable-use">Acceptable use</a> <br>
              <a href="/about#service-levels">Service levels</a>
            </small>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="row">
          <div class="col-md-6">
            <h6>ACKNOWLEDGEMENTS</h6>
            <p class="tight">
              <small>
                We acknowledge and pay respect to the Elders and Traditional Owners
                of the lands on which our partner organisations stand.
              </small>
            </p>
          </div>

          <div class="col-md-6">
            <h6>CONNECT</h6>
            <p>
              <a href="mailto:help@genome.edu.au">
                <i class="fas fa-envelope"></i>
              </a>

              <a href="https://github.com/usegalaxy-au" target="_blank">
                <i class="fab fa-github"></i>
              </a>

              <a href="https://twitter.com/galaxyaustralia" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>