#whatIsThisPage {
  position: absolute;
  top: 135px;
  right: calc(50vw - 500px);
}

@media (max-width: 1070px) {
  #whatIsThisPage {
    right: 2rem;
  }
}
@media (max-width: 992px) {
  #whatIsThisPage {
    top: 95px;
  }
}
@media (max-width: 730px) {
  #whatIsThisPage {
    top: 2rem;
  }
}
