<section class="my-5" id="tagline">
  <p>
    Welcome to the Galaxy {{ site_name }} {{ lab_name }}. Get quick access to tools, workflows and tutorials for genome assembly and annotation.
    <br>
    <a
      href="#"
      data-bs-toggle="modal"
      data-bs-target="#infoModal">
      What is this page?
    </a>
  </p>

  <div class="modal fade" id="infoModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Galaxy {{ site_name }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            This site <em>{{ subdomain }}.{{ root_domain }}</em> is connected to the same server as <em>{{ root_domain }}</em>, but with an interface dedicated to helping our {{ nationality }} researchers. Your history, jobs and data quota are shared with the "Base" website.
          </p>

          <div class="my-3">
            Switch between sites quickly using the dropdown in Galaxy {{ site_name }}'s main navigation bar:
            <img class="w-100 my-3 mx-auto" src="https://github.com/usegalaxy-au/galaxy-media-site/blob/dev/webapp/home/static/home/img/subdomains/site-switcher.png?raw=true" alt="Switch site button">
          </div>

          <p><a class="ga-btn" href="{{ galaxy_base_url }}" target="_blank">Take me back to Galaxy {{ site_name }}</a></p>
          <p><a class="ga-btn" href="{{ support_url }}">Galaxy {{ site_name }} support</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>
