<section class="my-5" id="tagline">
  <p>
    Welcome to the Galaxy {{ site_name }} {{ lab_name }}!
  </p>

  <p>
    Whether you're working with microbiome samples or bacterial isolates, long or short reads, shotgun or 16S sequencing, genomics, transcriptomics, proteomics, metabolomics, or integrative multi-omics analysis—this is the place for you! Learn about the microGalaxy community in our <a href="https://www.biorxiv.org/content/10.1101/2024.12.23.629682v1" target="_blank" rel="noopener noreferrer">preprint</a>.
  </p>
  <p>
    <a
      href="#"
      data-bs-toggle="modal"
      data-bs-target="#infoModal">
      How does this page relate to Galaxy {{ site_name }}?
    </a>
  </p>

  {{ intro_extra_md }}

  <div class="modal fade" id="infoModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Galaxy {{ site_name }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            This site <em>{{ subdomain }}.{{ root_domain }}</em> is connected to the same server as <em>{{ root_domain }}</em>, but with an interface dedicated to helping our {{ analysis_name }} researchers. Your history, jobs and data quota are shared with the "Base" Galaxy {{ site_name }}  website.
          </p>
          <p><a class="ga-btn" href="https://{{ root_domain }}" target="_blank">Take me back to Galaxy {{ site_name }}</a></p>
          <p><a class="ga-btn" href="https://{{ root_domain }}/about">What is Galaxy {{ site_name }}?</a></p>
          <p><a class="ga-btn" href="{{support}}">Galaxy {{ site_name }} support</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>
