<section class="my-5">
  <h4 class="mb-3">What's happening in {{ nationality }} genomics research?</h4>
  <button
    class="ga-btn"
    data-bs-toggle="modal"
    data-bs-target="#communityConnectModal"
  >
    Explore
  </button>
  <br>
  <br>
  <h4 class="mb-3">What do you think of the {{ lab_name }}?</h4>
  <button
    class="ga-btn"
    data-bs-toggle="modal"
    data-bs-target="#feedbackModal"
  >
    Give feedback
  </button>
</section>


<div class="modal fade" id="feedbackModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form id="feedbackForm">

        {% csrf_token %}

        <div class="modal-header">
          <h5 class="modal-title">Feedback</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            onclick="clearForm()"></button>
        </div>
        <div class="modal-body">
          <div class="default-content">
            <p>
              We'd love to hear your feedback on the Galaxy Australia {{ site_name }}. Please let us know what
              you think!
            </p>
            <div class="mb-3">
              <label for="nameInput" class="form-label">Name</label>

              <input type="text" class="form-control" id="nameInput" required>
            </div>
            <div class="mb-3">
              <label for="emailInput" class="form-label">Email address</label>
              <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" required>
              <div id="emailHelp" class="form-text">In case we'd like to contact you for more information.</div>
            </div>
            <div class="mb-3">
              <label for="messageInput" class="form-label">Your feedback</label>
              <textarea class="form-control" id="messageInput" rows="8" required></textarea>
            </div>
          </div>

          <div class="success-content" style="display: none;">
            <p class="alert alert-success">Thanks for your feedback!</p>
          </div>

          <div class="loading m-5 text-center" style="display: none;">
            <img src="https://raw.githubusercontent.com/usegalaxy-au/galaxy-media-site/dev/webapp/home/static/home/img/spinner.svg" alt="Loading animation" width="150px">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="clearForm();">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="communityConnectModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Australian genomics research</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          <p><a href="https://www.biocommons.org.au/genomics-domain" target="_blank">Discover more genomics activities and services supported by Australian BioCommons, and join in the community Genomics meetings</a></p>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
  function clearForm() {
    setTimeout(() => {
      document.getElementById('feedbackForm').reset();
      $('#feedbackForm .default-content').show();
      $('#feedbackForm .success-content').hide();
      $('#feedbackForm .loading').hide();
      $('button[type="submit"]').show();
    }, 500);
  }

  function submitForm(event) {
    event.preventDefault();
    $('#feedbackForm .loading').show();
    $('#feedbackForm .default-content').hide();
    $('button[type="submit"]').hide();

    // Clear any previous errors
    $('#feedbackForm .error-message').remove();
    $('#feedbackForm .invalid').removeClass('invalid');

    let formData = new FormData();
    formData.append('name', $('#nameInput').val());
    formData.append('email', $('#emailInput').val());
    formData.append('message', $('#messageInput').val());

    fetch('/feedback/{{ subdomain }}', {
      method: 'POST',
      headers: {
        'X-CSRFToken': getCsrfToken(),
      },
      body: formData,
    }).then(r => r.json())
      .then(data => {
        if (data.success) {
          showSuccess();
        } else {
          showErrors(JSON.parse(data.errors_json));
        }
      });
  }

  function getCsrfToken() {
    return document.querySelector('[name=csrfmiddlewaretoken]').value;
  }

  function showSuccess() {
    console.log("Form success");
    $('#feedbackForm .loading').hide();
    $('#feedbackForm .default-content').hide();
    $('#feedbackForm .success-content').show();
  }

  function showErrors(errors) {
    Object.keys(errors).forEach( (field) => {
      errors[field].forEach( err => {
        const msg = err.message;
        $(`#${field}Input`)
          .addClass('invalid')
          .parent().append(`<small class="text-danger error-message">${msg}</small>`);
      })
    });
    $('#feedbackForm .loading').hide();
    $('#feedbackForm .default-content').show();
    $('button[type="submit"]').show();
  }

  $('#feedbackForm').submit(submitForm);

</script>
