<section class="my-5" id="tagline">

    <div class="container">
      <h5>Hosted by:</h5>
      <div class="row align-items-center">
        <div class="col-sm">
          <a href="https://www.france-bioinformatique.fr/en/ifb-core-cluster/" target="_blank"><center><img src="static/ifb-logo.png" style="width:150px;" /></center></a>
        </div>
        <div class="col-sm">
          <a href="https://www.economie.gouv.fr/france-2030" target="_blank"><center><img src="static/france2030-logo.png" style="width:150px;" /></center></a>
        </div>
        <div class="col-sm">
          <a href="https://www.recetox.muni.cz/en" target="_blank"><center><img src="static/muni_recetox_sci.png" style="width:150px;" /></center></a>
        </div>
        <div class="col-sm">
          <a href="https://elixir-europe.org/" target="_blank"><center><img src="static/ELIXIR_logo_standard.png" style="width:150px;" /></center></a>
        </div>
    </div>

</section>