name: Fetch all tutorials

on:
  workflow_dispatch:
  schedule:
    #Every Sunday at 8:00 am
    - cron: "0 8 * * 0" 

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "tutorials"
  cancel-in-progress: false
  
permissions:
  contents: write

jobs:
  fetch-all-tutorials:
    runs-on: ubuntu-20.04
    environment: fetch-tutorials
    name: Fetch all tutorials
    steps:
      - name: Checkout main
        uses: actions/checkout@v4
        with:
          ref: main #pull latest code produced by job 1, not the revision that started the workflow (https://github.com/actions/checkout/issues/439)
      - name: Checkout results
        uses: actions/checkout@v4
        with:
          ref: results
          path: results
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install requirement
        run: python -m pip install -r requirements.txt
      - name: Run script #needs PAT to access other repos
        run: | 
          bash bin/extract_all_tutorials.sh
        env: 
          PLAUSIBLE_API_KEY: ${{ secrets.PLAUSIBLE_API_TOKEN }}
      - name: Merge updates into results #s0/git-publish-subdir-action fails if there is a change on results while this job runs
        run: |
          cd results &&
          git pull --no-rebase -s recursive -X ours
      - name: Commit all tools 
        uses: s0/git-publish-subdir-action@develop
        env:
          BRANCH: results
          FOLDER: results
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: self
          SKIP_EMPTY_COMMITS: true
          MESSAGE: "Update results step: fetch all tutorials - commmit {sha}"
