name: Fetch all tools
  schedule:
    #Every Sunday at 8:00 am
    - cron: "0 8 * * 0" 

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  fetch-all-tools:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
    - name: Install requirement
      run: python -m pip install -f requirements.txt
    - name: Run script
      # run: bash bin/extract_all_tools.sh
      run: echo "test" > results/all_tools.csv
    - name: Commit all tools
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
        git commit -am "All tools bot"
        git push
