name: Run tests
on: [push, pull_request_target]

jobs:
  test-tools:
    runs-on: ubuntu-20.04
    environment: fetch-tools
    steps:
      - name: Checkout main
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install requirement
        run: python -m pip install -r requirements.txt
      - name: Tool extraction
        run: | 
          bash sources/bin/extract_all_tools.sh test 
        env: 
          GITHUB_API_KEY: ${{ secrets.GH_API_TOKEN }}
      - name: Tool filter
        run: | 
          bash sources/bin/get_community_tools.sh test
      - name: Create interactive table and wordcloud
        run: | 
          bash sources/bin/format_tools
  test-tutorials:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout main
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install requirement
        run: python -m pip install -r requirements.txt
      - name: Tutorial extraction
        run: | 
          bash sources/bin/extract_all_tutorials.sh test 
        env: 
          PLAUSIBLE_API_KEY: ${{ secrets.PLAUSIBLE_API_TOKEN }}
      - name: Tutorial filtering
        run: | 
          bash sources/bin/get_community_tutorials.sh test
